/* http://angular-ui.github.io/bootstrap/#/getting_started */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-control {
  padding: 3px;
}

.fade {
  display: none;
}

.fade.in {
  display: block;
}

.list-group {
  margin-bottom: 0;
}

.panel-body-nopad {
  padding-left: 0;
  padding-right: 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Plots */
.plot {
    height: 100%;
}

#map_canvas {
    height: 100%;
}

/* Stacked bar chart */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
*/

/* scatterplot */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
#statusSummary text {
  font-size: 13;
}


/* Gridster */

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}

.gridster .gridster-item.gridster-item-chart {
    padding: 0px;
}

.gridster-item-chart .panel-heading {
    padding: 5px 15px;
    cursor: move;
}

/* FIXME: This should not be needed, work around gridster bug (?) */
li.gridster-item {
    position: absolute;
}

/* Tiles */

.tile{
    background-color: #f4f4f4;
    --webkit-box-shadow: 0px 0px 2px 2px #d0d0d0;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1024px) {
  .gridster-item .form-control {
    font-size: 12px;
  }
}

.tile-header {
    font-size: 18px;
    font-color: white;
    line-height: 15px;
}

.tile-number{
    font-weight: bold;
    font-size: 24px;
}
@media (min-width: 1024px) {
  .tile-number{
    font-size: 32px;
  }
}

.tile-info {
    font-size: 20px;
}

.problemsTile {
  text-align: left !important;
}

.dc-chart g.row text {
    fill: black
}

.dc-chart .pie-slice {
    fill: black
}

.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}

#paymentPerWard .axis.x .tick text ,
#statusPerWard .axis.x .tick text {
  font-size: 8px;
}

@media (min-width: 1024px) {
  #paymentPerWard .axis.x .tick text ,
  #statusPerWard .axis.x .tick text {
    font-size: 9px;
  }
}


.hor-bar {
    fill: #0a871f;
}

.hor-bar-label {
  font-size: 13;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#dc-data-table_wrapper {
  padding: 10px;
}

#dc-data-table th, td {
  white-space: nowrap;
}

div.region-info {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  bottom: 4em;
  left: 1.5em;
  z-index: 100;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center;
}

.map-control {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 100;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center;
}

#nationalDashMap {
  width: 100%;
  height: 100%;
}

#regionalDashMap {
  width: 100%;
  height: 100%;
}

.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#wpLocations {
  height: 90%;
  padding: 0px;
}

.popup {
  height: 100px;
  overflow-y: scroll;
}

.popup-key {
  font-weight: bold;
}

.statusSelector label {
  padding-left: 10px;
  padding-right: 15px;
}

.leaflet-control-layers-expanded {
  text-align: left;
}
.brand{
  width: 60px;
  height: 40px;
  /*border-radius: 10%;*/
background: url('../images/Tanzania.png') no-repeat left center;
margin-left: 10px;
padding-left: 80px;
}
.btn{
  float: right;
  position: relative;
  margin-top: -20px;
}
