<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <!-- Leaflet -->
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css" />

    <!-- angular gridster -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css" />

    <!-- jquery datatables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-alpha.2/dc.css" />

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />
    <link rel="stylesheet" href="styles/prunecluster.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="taarifaWaterpointsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">

      <div class="header" ng-controller="NavCtrl">
        <ul class="nav nav-pills pull-right">
          <!--li><a ng-href="#/waterpoints/new">
            <span class="glyphicon glyphicon-plus"></span>
            Create waterpoint
          </a></li-->
          <li ng-class="{active: location.path() == '/'}"><a ng-href="#" translate>Home</a></li>
          <li ng-class="{active: location.path() == '/requests'}"><a ng-href="#/requests" translate>Triage</a></li>
          <li ng-class="{active: location.path() == '/waterpoints/new'}">
            <a ng-href="#/waterpoints/new"><span class="glyphicon glyphicon-plus"></span> {{"Add Waterpoint" | translate}}</a></li>
          <li ng-class="{active: location.path() == '/dashboard'}"><a ng-href="#/dashboard" translate>Dashboard</a></li>
          <li ng-controller="LocaleCtrl">
            <select class="form-control" ng-model="languages.current"
              ng-options="key as value for (key, value) in languages.available">
            </select>
          </li>
        </ul>
        <h3 class="text-muted brand" translate>Tanzania Waterpoints</h3>
      </div>
      <hr>

      <div flash-alert="success" active-class="in alert" class="fade" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <strong class="alert-heading">Success:</strong>
        <span class="alert-message">{{flash.message}}</span>
      </div>

      <div flash-alert="error" active-class="in alert" class="fade" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <strong class="alert-heading">Error:</strong>
        <span class="alert-message">{{flash.message}}</span>
      </div>

      <div flash-alert="info" active-class="in alert" class="fade" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <strong class="alert-heading">Info:</strong>
        <span class="alert-message">{{flash.message}}</span>
      </div>

      <div class="content" ng-view></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-40266266-1', 'taarifa.org');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//rawgithub.com/sdecima/javascript-detect-element-resize/master/detect-element-resize.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular-cookies.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-alpha.2/dc.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.7/crossfilter.min.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="bower_components/PruneCluster/dist/PruneCluster.min.js"></script>
    <script src="vendor/dynamic-forms.js"></script>
    <script src="bower_components/angular-flash/dist/angular-flash.min.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="bower_components/leaflet-maskcanvas/src/QuadTree.js"></script>
    <script src="bower_components/leaflet-maskcanvas/src/L.TileLayer.MaskCanvas.js"></script>
    <script src="bower_components/leaflet-heatmap/build/heatmap.js"></script>
    <script src="bower_components/leaflet-heatmap/plugins/leaflet-heatmap.js"></script>
    <script src="scripts/plots.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/mapctrl.js"></script>
    <script src="scripts/natdashboardctrl.js"></script>
    <script src="scripts/regdashboardctrl.js"></script>
    <script src="scripts/translations.js"></script>
    <!-- endbuild -->
</body>
</html>
