        <div class="row">
            <form class="form-inline" role="form" style="padding: 10px">
                <div class="form-group">
                    <label for="regionSelect" translate>Region</label>:
                    <select id="regionSelect" ng-model="region" ng-options="v for v in regions"
                        ng-change="rerenderCharts()" class="form-control">
                    </select>
                    <p class="help-block">
                        <div class="dc-data-count">
                            Selected <span class="filter-count"></span> out of <span class="total-count"></span> waterpoints | <a href="javascript:dc.filterAll(); dc.renderAll();">Reset all filters</a> 
                        </div>
                    </p>
                </div>
            </form>
        </div>

        <div class="row">
            <div id="dcgridster" gridster="gridsterOpts">
                <ul>
                    <li gridster-item="item" ng-repeat="(key,item) in gridLayout">
                        <!--span class="draghandle">...</span-->
                        <div id="{{key}}"></div>
                    </li>
                </ul>
            </div>
        </div>

