<form class="form-inline" role="form">
    {{"Group By"|translate}}: <div class="form-group">
    <select ng-model="group" ng-options="v for v in groups" ng-change="groupBy()" class="form-control">
    </select>
  </div>
  Filter:
  <div class="form-group">
    <select ng-model="params.region" ng-options="v for v in regions" ng-change="getStatus('region')" class="form-control">
        <option value="">{{"Region"|translate}}:</option>
    </select>
  </div>
  <div class="form-group">
    <select ng-model="params.district" ng-options="v for v in districts" ng-change="getStatus('district')" class="form-control">
        <option value="">{{"District"|translate}}:</option>
    </select>
  </div>
  <div class="form-group">
    <select ng-model="params.ward" ng-options="v for v in wards" ng-change="getStatus('ward')" class="form-control">
        <option value="">{{"Ward"|translate}}:</option>
    </select>
  </div>
</form>
<hr>
<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" translate>Waterpoint Status</h3>
    </div>
    <div class="panel-body">
      <div class="btn-group btn-group-justified">
        <div class="btn-group" ng-repeat="s in status">
            <span>{{s.status || 'unknown'}}</span>
            <br />
            <span class="badge">{{ s.percent | number:2 }} %</span> <span>({{ s.count }})</span>
        </div>
        <div class="btn-group">
            Population covered
            <br />
            <span class="badge">{{ popCover.percent | number:2 }} %</span> <span>({{ popCover.count | number:0 }})</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-repeat="plot in plots">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{plot.title}}</h3>
    </div>
    <div class="panel-body plot" id="{{plot.id}}"></div>
  </div>
</div>
<div class="row">
  <iframe width="100%" height="500px" frameBorder="0"
    src="//worldbank.cartodb.com/viz/9af2a2ec-e414-11e3-94c5-0edbca4b5057/embed_map?title=false&description=true&search=false&shareable=true&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=true&fullscreen=true&sublayer_options=1%7C1&sql=&sw_lat=-8.96579304346216&sw_lon=32.49275207519531&ne_lat=-6.535691684047911&ne_lon=37.74696350097656"></iframe>
</div>
<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" translate>Top Reasons for Faulty Waterpoints</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" translate>1: Tap is Broken</li>
      <li class="list-group-item" translate>2: Barrel is Broken</li>
      <li class="list-group-item" translate>3: Barrel is Lost</li>
    </ul>
  </div>
</div>
