<div class="row">
  <div class="col-md-12 well">
    <div class="pull-right">
      <select ng-model="params.region" ng-options="v for v in regions" ng-change="getStatus()">
        <option value="">Region:</option>
      </select> &gt;
      <select ng-model="params.district" ng-options="v for v in districts" ng-change="getStatus()">
        <option value="">District:</option>
      </select> &gt;
      <select ng-model="params.ward" ng-options="v for v in wards" ng-change="getStatus()">
        <option value="">Ward:</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-4 text-center well" ng-repeat="s in status"><h1>{{s.count}}</h1><br/>{{s.status || 'unknown'}}</div>
      <div class="col-sm-4 text-center well"><h1>82%</h1><br/>Population Covered</div>
    </div>
    <div class="row">
      <div class="col-md-12 well">LGAs with most functioning Waterpoints</div>
    </div>
    <div class="row">
      <div class="col-md-12 well">LGAs with least functioning Waterpoints</div>
    </div>
  </div>
  <div class="col-md-6 well">
    <iframe width="100%" height="500px" frameBorder="0" src="https://a.tiles.mapbox.com/v3/markiliffe.db0ozuxr.html"></iframe>
  </div>
</div>
<div class="row well">
  <div class="col-md-12 text-center">Top Reasons for Faulty Waterpoints</div>
  <div class="col-sm-4 text-center well"><h3>1: Tap is Broken</h1></div>
  <div class="col-sm-4 text-center well"><h3>2: Barrel is Broken</h1></div>
  <div class="col-sm-4 text-center well"><h3>3: Barrel is Lost</h1></div>
</div>
