<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><button class="btn btn-success" ng-href="#/waterpoints/new">
      <span class="glyphicon glyphicon-plus"></span>
      Create waterpoint
    </button></li>
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">TaarifaWaterpoints</h3>
</div>

<leaflet center="dar" markers="markers" height="480px" width="640px"></leaflet>
