<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title" translate>Filter map view</h3></div>
  <div class="panel-body">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="region" translate>Region</label>
        <select class="form-control" id="region" ng-model="where.region" ng-change="updateMap()"
          ng-options="r for r in regions">
          <option value="" translate>all</option>
        </select>
      </div>
      <div class="form-group">
        <label for="waterpointStatus" translate>status</label>
        <select class="form-control" id="waterpointStatus" ng-model="where.status_group" ng-change="updateMap()"
          ng-options="k for k in ['functional', 'not functional', 'needs repair']">
          <option value="" translate>all</option>
        </select>
      </div>
      <div class="form-group">
        <label for="maxResults" translate>maximum no. of results</label>
        <select class="form-control" id="maxResults" ng-model="max_results" ng-change="updateMap()"
          ng-options="k for k in [25, 50, 100, 200, 500, 1000]">
        </select>
      </div>
    </form>
  </div>
</div>

<leaflet center="map.center" markers="map.markers" height="480px" width="100%"></leaflet>
