<div class="row">
  <form class="form-inline" role="form" style="padding: 10px">
    <div class="form-group">
        <label for="regionSelect" translate>Region</label>:
        <select id="regionSelect" ng-model="region" ng-options="v for v in regions"
          ng-change="rerenderCharts()" class="form-control">
        </select>
    </div>
    <div class="pull-right">
      <button class="btn btn-success btn-sm" disabled>
        <span class="glyphicon glyphicon-cloud-download"></span> {{"Publish"|translate}}</a>
      <button type="submit" class="btn btn-success btn-sm" onclick="window.print();">
        <span class="glyphicon glyphicon-print"></span> {{"Print"|translate}}</button>
    </div>
    <div class="dc-data-count pull-right">
      {{"Selected"|translate}} <span class="filter-count"></span> {{"out of"|translate}} <span class="total-count"></span> {{"waterpoints"|translate}} | <a href="" ng-click="clearFilters()" translate>Reset all filters</a>
    </div>
  </form>
</div>

<tabset style="margin-top: 15px;">
  <tab heading="{{'Charts'|translate}}" active="tabs.regcharts.active">
    <div id="regionalPlots" class="row">
      <div id="dcgridster" gridster="gridsterOpts">
        <ul>
          <li gridster-item="item" ng-repeat="(key,item) in gridLayout"
            class="gridster-item-chart" repeat-done="gridster-dom">
          <div class="panel panel-primary plot">
            <div class="panel-heading">
              <h3 class="panel-title">{{item.title | translate}}</h3>
            </div>
            <div class="panel-body" id="{{key}}"></div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </tab>
  <tab heading="{{'Data Table'|translate}}" select="initTable()" active="tabs.regtable.active">
    <table id="dc-data-table" class="list table table-striped table-bordered">
      <thead>
        <tr>
          <th ng-repeat="col in fields">{{col | titlecase}}</th>
        </tr>
      </thead>
    </table>
  </tab>
</tabset>
