<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title" translate>Filter requests</h3></div>
  <div class="panel-body">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="requestStatus" translate>Request status</label>
        <select class="form-control" id="requestStatus" ng-model="where.status" ng-change="filterStatus()"
          ng-options="k for k in ['open', 'closed']">
          <option value="">all</option>
        </select>
      </div>
      <div class="form-group">
        <label for="waterpointStatus" translate>WP status</label>
        <select class="form-control" id="waterpointStatus" ng-model="where.status_group" ng-change="filterStatus()"
          ng-options="k for k in ['functional', 'not functional', 'needs repair']">
          <option value="">all</option>
        </select>
      </div>
      <div class="form-group">
        <label for="waterpointId" translate>WP id</label>
        <input type="text" class="form-control" id="waterpointId" ng-model="where.waterpoint_id" ng-change="filterStatus()">
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default" ng-repeat="request in requests"
  ng-class="{'panel-info': request.status=='closed', 'panel-danger': request.status=='open'&&request.attribute.status_group=='not functional', 'panel-warning': request.status=='open'&&request.attribute.status_group=='needs repair', 'panel-success': request.status=='open'&&request.attribute.status_group=='not functional'}">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="glyphicon glyphicon-cog" href="#/requests/{{request._id}}"
        title="Triage"></a>
      {{"Waterpoint" | translate}} {{request.attribute.waterpoint_id}}
      <span class="pull-right small">{{"submitted on" | translate}} {{request._created}}</span>
    </h3>
  </div>
  <div class="panel-body panel-body-nopad">
    <div class="col-sm-6">
      <h4 translate>User provided fields</h4>
      <dl class="dl-horizontal">
        <dt ng-repeat-start="(k, v) in request.attribute" ng-if="k !=
        'waterpoint_id'">{{k}}</dt>
        <dd ng-repeat-end ng-if="k != 'waterpoint_id'">{{v}}</dd>
      </dl>
    </div>
    <div class="col-sm-6">
      <h4 translate>Metadata</h4>
      <dl class="dl-horizontal">
        <dt ng-repeat-start="(k, v) in request" ng-if="k[0] != '_' && k !=
        'attribute'">{{k}}</dt>
        <dd ng-repeat-end ng-if="k[0] != '_' && k != 'attribute'">{{v}}</dd>
      </dl>
    </div>
  </div>
</div>
