<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Waterpoint {{request.attribute.waterpoint_id}}
      <small class="pull-right">submitted on {{request._created}}</small></h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Reported value</th>
        <th>Current value</th>
        <th>Apply</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(k, v) in request.attribute" ng-if="k!='waterpoint_id'">
        <td>{{k}}</td>
        <td>{{v}}</td>
        <td>{{waterpoint[k]}}</td>
        <td><input type="checkbox" ng-model="triage[k]"
          ng-true-value="{{v}}" ng-false-value="{{waterpoint[k]}}"></td>
      </tr>
    </tbody>
  </table>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="statusNotes" class="col-sm-3 control-label">Status notes</label>
        <div class="col-sm-9">
          <input ng-model="request.status_notes" type="text" class="form-control" id="statusNotes">
        </div>
      </div>
      <div class="form-group">
        <label for="agencyResponsible" class="col-sm-3 control-label">Agency responsible</label>
        <div class="col-sm-9">
          <input ng-model="request.agency_responsible" type="text" class="form-control" id="agencyResponsible">
        </div>
      </div>
      <div class="form-group">
        <label for="serviceNotice" class="col-sm-3 control-label">Service notice</label>
        <div class="col-sm-9">
          <input ng-model="request.service_notice" type="text" class="form-control" id="serviceNotice">
        </div>
      </div>
      <div class="form-group">
        <label for="expectedDatetime" class="col-sm-3 control-label">Expected date</label>
        <div class="col-sm-9">
          <input ng-model="expected_datetime" type="date" class="form-control" id="expectedDatetime">
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-sm-3 control-label">Status</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="request.status" id="status"
            ng-options="k for k in ['open', 'closed']"></select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-success" ng-click="doTriage()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
